@model nemtudom.Models.ContentModel

@{
    ViewBag.Title = "Create";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tartalom Hozzáadása</title>
</head>
<body>
<div>
    <h2>Tartalom Törlése</h2>
    
    <p>Biztosan törölni akarja ezt a tartalmat?</p>
    
    <dl class="row">
        <dt class="col-sm-2">Cím:</dt>
        <dd class="col-sm-10">@Model.content_title</dd>
        <dt class="col-sm-2">Leírás:</dt>
        <dd class="col-sm-10">@Model.content_body</dd>
        <dt class="col-sm-2">Kép:</dt>
        <dd class="col-sm-10">@Model.content_img</dd>
        <dt class="col-sm-2">Videó:</dt>
        <dd class="col-sm-10">@Model.content_video</dd>
        <dt class="col-sm-2">Link:</dt>
        <dd class="col-sm-10">@Model.content_link</dd>
        
    </dl>
    
    <form asp-action="Delete" asp-controller="Content" method="post">
        <button type="submit" class="btn btn-danger">Törlés</button>
        <a asp-action="Index" class="btn btn-secondary">Mégsem</a>
    </form>
</div>
</body>
</html>
